.width-enter-active, .width-leave-active
  overflow hidden
  white-space nowrap
  transition all 0.5s
.width-enter, .width-leave-to
  width 0 !important
.width-enter-to, .width-leave
  width 200px !important
.width-20-enter-active, .width-20-leave-active
  overflow hidden
  white-space nowrap
  transition all 0.5s
.width-20-enter, .width-20-leave-to
  width 0 !important
.width-20-enter-to, .width-20-leave
  width 250px !important
.width-40-enter-active, .width-40-leave-active
  overflow hidden
  white-space nowrap
  transition all 0.5s
.width-40-enter, .width-40-leave-to
  width 0 !important
.width-40-enter-to, .width-40-leave
  width 40% !important
.height-enter-active, .height-leave-active
  transition all 0.5s
.height-enter, .height-leave-to
  max-height 0
.height-enter-to, .height-leave
  max-height 100px