*::-webkit-scrollbar
  display none
.scroll-v
  overflow scroll
.task-content
  position relative
  display flex
  align-items center
  flex-direction column
  margin-bottom 10px
  .mq-form
    width 100%
.material-page
  position relative
  display flex
  height 100%
  width 100%
.is-drop-inner
  background-color #1989fa
  opacity 0.5
  color white
.material-content
  position relative
  height 100%
  flex 1
  overflow hidden
  padding 10px
  box-sizing border-box
.case-exec-view
  width 250px
.material-container
  position relative
  display flex
  flex 1
  overflow hidden
  .left-area
    position relative
    width 300px
    height 100%
    overflow hidden
  .right-area
    position relative
    flex 1
    height 100%
    overflow hidden

// 新加的样式
/*
.input-bar-container
  position relative
  display flex
  align-items center
  margin-bottom 10px
  .a-select, .a-input
    position relative
    display flex
    align-items center
  .a-select
    margin-right 10px
  .a-input
    flex 1
    .a-input-item
      width 100%
      */
.material-main
  position relative
  display: flex
  flex-direction: column
  width 100%
  padding 10px 10%
  box-sizing border-box
  height 100%
  overflow scroll
  .data-tab
    margin-bottom 10px
.material-main-flex-1
  flex: 1 !important

.a-input-width
  width: 200px