.rich
  html
    position relative
    height 100%
    width 100%
    top 0%
    left 0
    margin 0
    padding 0
  body
    position relative
    font-family -apple-system,BlinkMacSystemFont,Helvetica Neue,PingFang SC,Microsoft YaHei,Source Han Sans SC,Noto Sans CJK SC,WenQuanYi Micro Hei,sans-serif
    height 100%
    width 100%
    left 0
    top 0
    margin 0
    padding 0
  p
    position relative
    display block
    // margin 10px 0
    padding 0
    font-size 20px
    line-height 1.67
    text-align left
    padding-left 0px
  strong
    font-weight 600
  blockquote
    position relative
    text-align left
    border-left 5px solid lightgray
    padding 0 0 0 10px
    margin 0 20px 0 20px
  h1
    position relative
    text-align left
    padding-left 0px
    font-size 25px
    margin 5px 0
  h2
    position relative
    text-align left
    padding-left 0px
    font-size 30px
    margin 5px 0
  h3
    position relative
    text-align left
    padding-left 0px
    font-size 25px
    margin 5px 0
  h4
    position relative
    text-align left
    padding-left 0px
    font-size 20px
    margin 5px 0
  h5
    position relative
    text-align left
    padding-left 0px
    font-size 15px
    margin 5px 0
  ul
    padding 0 20px
  li
    position relative
    list-style disc
    text-align left
    margin 10px 10px
    padding 0%
    font-size: 20px
  div > span
    position relative
    display block
    text-align left
    padding-left 0px
    margin 5px 0
  a
    color blue
    border none
    outline none
    text-decoration-line none
  code
    background-color black
    display block
    text-align left
    padding 5px 20px 
    font-size: 24px
    max-width 100%
    border-radius 10px
    word-break break-all 
    margin-bottom 20px
  img
    position relative
    max-width 100%
    left 50%
    transform translate(-50%, 0)
  video
    position relative
    max-width 100%
    left 50%
    transform translate(-50%, 0)
  