// 字号
$font-size-small = 24px
$font-size-medium = 28px
$font-size-large = 32px
$font-size-max = 72px
// 颜色
$color-text = #101010
$color-text-w = #ffffff
$color-text-l = #bbbbbb
$color-text-p = #999999
$color-text-d = #666666
$color-text-a = #101010
$color-text-orange = #F99E22
$color-text-blue = #5899FE
$color-text-blue-2 = #00A3FF
$color-text-green = #5BC413
$main-color = #20A0FF
$white = #ffffff
$grey = #888888
$grey-1 = #929292
$grey-2 = #F8F8F8
$grey-3 = #C0C0C0
$grey-4 = #333333
$grey-5 = #F2F2F2
$grey-6 = #EEEEEE
$blue-1 = #3666F8
$red = #FF2610
// 背景色
$linear = linear-gradient(124deg, #0099FF 0%, #0066FF 100%)
$linear-orange = linear-gradient(42deg, rgba(255, 140, 13, 1) 0%, rgba(248, 193, 54, 1) 100%)
$linear-danger = linear-gradient(42deg, rgba(255, 34, 13, 1) 0%, rgba(248, 92, 54, 1) 100%)
$linear-grey = linear-gradient(42deg, rgba(132, 132, 132, 1) 0%, rgba(171, 171, 171, 1) 100%)
$linear-blue = linear-gradient(42deg, rgba(54, 102, 248, 1) 0%, rgba(13, 187, 255, 1) 100%)
$linear-bg = linear-gradient(42deg, rgba(54, 102, 248, 1) 0%, rgba(13, 187, 255, 1) 100%)
$linear-main-button-bg = linear-gradient(90deg, #1CC666 0%, #4FDD90 100%)
$background-light = #eeeeee
$background-color = #ffffff
$background-color-g = #f9f9f9
$background-yellow = #FFCB00
$background-grey = #F5F5F5
$background-bank = #E8F5FF
// 高度
$tabs-bar-height = 96px
// 暗黑模式主题
// $bg-color1 = #222
// $bg-color11 = #f5f7fa
// $bg-color2 = #333
// $bg-color22 = white
// $bg-color3 = #373b3e
// $bg-color33 = #f5f5f5
// $text-color1 = white
// $text-color11 = black
// $text-color2 = #f0f0f1
// $text-color22 = #373b3e
// $text-color3 = #409eff
// $text-color33 = #373b3e
// $text-color4 = #d0d0d1
// $text-color5 = #586571
// $border-color1 = #1c2023
// $border-color11 = #dcdfe6
// $border-color2 = #444b52

// 白色主题
$bg-color1 = white
$bg-color11 = white
$bg-color2 = white
$bg-color22 = white
$bg-color3 = white
$bg-color33 = white
$text-color1 = black
$text-color11 = black
$text-color2 = black
$text-color22 = black
$text-color3 = black
$text-color33 = black
$text-color4 = black
$text-color5 = black
$border-color1 = black
$border-color11 = black
$border-color2 = black